.curso{
  padding: 6rem 0;
  margin-top: 5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .curso-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .curso .contenido{
    grid-column: 2/3;
  }
}

.contenido .texto{
  text-align: center;
  font-size: 2rem;
  color: var(--white);
}